@* <a href="/home/index">link ni siya</a> *@
@* @Html.ActionLink("Bisag unsa","index", "home") *@
@{
    ViewData["Title"] = "Personal";
    Layout = "_Layout";
}
<h1>Personal</h1>
<p>Nino Abao</p>
<p>Bogo City</p>
<p>August 5</p>